
body {
    margin:0;
}

#container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.awan {
    position: absolute;
    width: 30%;
    z-index: 1;
}

.awann {
    position: absolute;
    width: 30%;
    z-index: 1;
}

#awan1{
    left: 5%;
    top: 28%;
}

#awan2{
left: 36%;
    top: 66%;
    width: 48%;
}

#awan3{
    left: 6%;
    top: 58%;
}
#awann1{
    left: 5%;
    top: 5%;
}

#awann2{
    left: 30%;
    top: 31%;
}

#awann3{
    right: 25%;
    bottom: 26%;
}



#awanInit {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100%;
}

#awanUlang {
    position: absolute;
    bottom: -97%;
    width: 100%;
    height: 100%;
}

#karakter {
    position: absolute;
    z-index: 4;
/*    background-color: aqua;*/
    width: 26%;
    height: 15%;
    top: 30%;
    left: 36%;
}

#hotspot1 {
    position: absolute;
    display: none;
    z-index: 3;
    width: 100%;
    height: 100%;
}

#rintangan {
   
    position: absolute;
    background-image: url(images/coin.png);
    background-size: 100% 100%;
    z-index: 2;
    width: 30px;
    height: 30px;
    left: 40%;
    bottom: -10%;
}
}

#obs1 {
    position: absolute;
}

#tanah {
    position: absolute;
    z-index: 2;
    width: 26%;
    height: 10%;
    top: 43%;
    left: 36%;
}

#start {
    position: absolute;
    z-index: 2;
    left: 32%;
    top: 82%;
    width: 37%;
}

#logo {
    position: absolute;
    z-index: 1;
    left: 2%;
    top: 1%;
    width: 15%;
}

#lvl1 {
    width: 100%
}

#lvl2 {
    width: 100%;
    display: none;
}

#lvl3 {
    width: 100%;
    display: none;
}

#lvl4 {
    width: 100%;
    display: none;
}

#lvl1popup {
    width: 100%;
    position: absolute;
    display: none;
}

#headline {
    position: absolute;
    z-index: 2;
    width: 82%;
    height: 10%;
    top: 18%;
    left: 7%;
}

#lvl2popup {
    width: 100%;
    position: absolute;
    display: none;
}

#lvl3popup {
    width: 100%;
    position: absolute;
    display: none;
}

#tanahair {
position: absolute;
    display: none;
    z-index: 3;
    width: 105%;
    left: -3%;
    bottom: -3%;
}

#last {
    position: absolute;
    display: none;
    z-index: 2;
    width: 66%;
    top: 18%;
    left: 17%;
}

#cta {
    position: absolute;
    display: none;
    z-index: 2;
    width: 100%;
    bottom: 30%;
    left: 17%;
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      #bg {
        width: 100%;
        height: 100%;
      }
      #cta {
        width: 100%;
    bottom: 39%;
    left: 0%;
      }
      #karakter {
            width: 26%;
    height: 15%;
    top: 31%;
    left: 36%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      #bg {
        width: 100%;
        height: 100%;
    }
      #cta {
    width: 100%;
    bottom: 30%;
    left: 0%;
      }
      #karakter {
        width: 26%;
        height: 15%;
        top: 30%;
        left: 36%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      #bg {
        width: 100%;
        height: 100%;
    }
    #cta {
    width: 100%;
    bottom: 30%;
    left: 0%;
    }
      #karakter {
        width: 26%;
        height: 15%;
        top: 30%;
        left: 36%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

#title {
        position: absolute;
    z-index: 2;
    width: 66%;
    top: 17%;
    left: 17%;
}
